<%- include("partials/header") %>

<h1>Compose</h1>
<form action="" method="POST" class="regular">
  <label for="title">Tytuł</label>
  <input type="text" name="title" id="title" class="title" />
  <label for="post">Post</label>
  <input type="text" name="post" id="post" class="post" />
  <button type="submit" class="button">Stwórz</button>
</form>
<%- include("partials/footer") %>
