.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.regular {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button {
  margin: 2rem 2rem;
  background: coral;
  border-radius: 10px;
  border: none;
}

.post {
  padding: 5rem 30rem;
  border-radius: 10px;
}

.title {
  padding: 0rem 30rem;
  border-radius: 10px;
}
